body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.content {
    width: 84%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-title {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.add-button,
.search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th,
.table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.add-button:hover,
.search-button:hover {
    background-color: #0056b3;
}

.edit-button,
.delete-button {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #117a8b;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    max-width: 400px;
    margin: 30px auto;
    background: #fff;
    border-radius: 8px;
}

.modal-header {
    background: #007bff;
    color: #fff;
    padding: 30px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

.modal-title {
    margin: 0;
}

.close-button {
    position: absolute;
    background-color: #007bff;
    cursor: pointer;
    right: 10px;
    width: 10px;
    height: 10px;
    margin-top: -45px;
    border: 0;
}

.modal-body {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 15px;
}

.form-check {
    margin-bottom: 15px;
}

.button-container {
    text-align: right;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 8px 15px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.button-container {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
}
